<!DOCTYPE html>
<html>
<head>
    <title>Additional Details</title>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // Auto-focus on the Total Skids input field
            document.getElementById('total_skids').focus();

            // Function to handle the Enter keypress
            function handleEnterKeyPress(event, nextFieldId) {
                if (event.key === 'Enter') {
                    event.preventDefault();  // Prevent the default form submit on Enter key
                    document.getElementById(nextFieldId).focus();
                }
            }

            // Monitor Enter keypress on Total Skids
            document.getElementById('total_skids').addEventListener('keydown', (event) => {
                handleEnterKeyPress(event, 'invoice_no');
            });

            // Monitor Enter keypress on Invoice Number and submit form if Enter is pressed
            document.getElementById('invoice_no').addEventListener('keydown', (event) => {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    document.getElementById('additionalDetailsForm').submit();
                }
            });
        });
    </script>
</head>
<body>
    <h1>{{ vendor.vendor_Name }}</h1>
    <form id="additionalDetailsForm" action="/input/{{ vendor.vendor_code }}" method="post">
        <label for="total_skids">Total Skids:</label>
        <input type="text" id="total_skids" name="total_skids" autofocus><br>
        
        <label for="invoice_no">Invoice Number:</label>
        <input type="text" id="invoice_no" name="invoice_no"><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
